/* Basstilar för sidan */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stilar för navigation */
nav {
  background-color: #007BFF; /* Blå bakgrundsfärg */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Lägger till en lätt skugga för djup */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrerar länkarna */
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 10px; /* Lägger till utrymme runt länkarna */
  border-radius: 5px; /* Rundar av hörnen */
  transition: background-color 0.3s ease; /* Gör en smidig övergång för hover-effekten */
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #0056b3; /* Mörkare blå färg vid hover */
}

/* Stilar för header */
header {
  color: white;
  text-align: center;
  padding: 20px 0;
  background-color: #007BFF; /* Matchar navigationens bakgrundsfärg */
}

/* Övriga stilar behålls som tidigare */


.offer, .plan {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.offer img, .plan img {
  width: 400px; /* Större ikoner */
  height: auto;
}

section.offers {
  background-color: #FFEB3B;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer {
  flex-basis: 30%; /* Adjusts the base size of each offer. You can set this to whatever percentage works best for your design */
  box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
  margin: 10px; /* Adds some space around each offer */
  height: fit-content;
}

section.plans {
  background-color: #E1F5FE;
  padding: 20px;
  margin: 20px 0;
}

button {
  background-color: #008cba;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005f73;
}

aside {
  background-color: #F8BBD0;
  padding: 20px;
  margin: 20px 0;
  border-left: 6px solid #EC407A;
}

footer {
  background-color: #BDBDBD;
  padding: 20px;
  text-align: center;
}

h2 {
  position: absolute;
}

