<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="stylesheet" href="css/form.css">
    <script src="js/form.js" type="module"></script>
</head>
<body>
    <a href="/">Tillbaka till start</a>
    <div class="form-container">
        <h1>Formulär</h1>
        <form id="submissionForm">
            <label for="name">Namn:</label>
            <input type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button type="submit">Skicka</button>
            <p id="errorMessage" class="error-message"></p>
        </form>
    </div>
</body>
</html>
