<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="css/profile-edit.css">
</head>
<body>
    <a href="/">Tillbaka till start</a>
    <div class="profile-container">
        <div class="profile-header">
            <h2>Profile</h2>
        </div>
        <div class="profile-info">
            <p><strong>Nickname:</strong> Miranda</p>
            <p><strong>Ålder:</strong> 28</p>
            <p><strong>Land:</strong> Sverige</p>
        </div>
    </div>
    <div class="notification">
      Ditt nickname är nu bytt.
  </div>
</body>
</html>
