<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmation</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <a href="/">Tillbaka till start</a>
    <div class="confirmation-container">
        <h1>Köp genomfört</h1>
        <p>Tack för ditt köp! Nedan visar produkterna du har köpt.</p>
        <ul class="item-list">
            <li>Schampoo - 100:-</li>
            <li>Balsam - 200:-</li>
            <li>Hårinpackning - 150:-</li>
        </ul>
        <p class="total">Totalt: 450:-</p>
        <p>Vi hoppas du är nöjd med ditt köp. Tveka inte att höra av dig till oss ifall du har frågor!</p>
    </div>
</body>
</html>
