<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tillgänglighetsproblem</title>
</head>
<body>
  <main>
    <section>
      <p>Nedan följer ett antal länkar som vissar sidor med tillgänglighetsproblem.</p>
      <ol>
        <li><a href="/colour-contrast">Färgkontraster</a></li>
        <li><a href="/focus-order">Tabbordning</a></li>
        <li>Återkoppling</li>
        <ol>
          <li><a href="/purchase-confirmation">Återkoppling Köp</a></li>
          <li><a href="/profile-edit">Återkoppling Profiländring</a></li>
          <li><a href="/form">Återkoppling Formulär</a></li>
          <li><a href="/navigate">Återkoppling Navigation</a></li>
        </ol>
        <li><a href="/content-size">Storlek på innehåll</a></li>
        <li><a href="/overload">Kognitiv överbelastning</a></li>
        <li><a href="/help-text">Otillräcklig hjälptext</a></li>
        <li><a href="/affordance">Affordance</a></li>
      </ol>
    </section>
  </main>
</body>
</html>